/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}


body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

h2,
h3,
a {
	color: #093a58;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

.my-text-color p{
	/*color: #fff;*/
}

.my-text-color h1{
	/*color: #fff;*/
	text-decoration: underline;
	margin-bottom: 40px;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

.main-img{

	height: 1000px;
	background-repeat: no-repeat;
	/*https://drscdn.500px.org/photo/96786473/m%3D2048/9a51a726bdc778af31a32d25d0027afd*/
	background-image: url("https://drscdn.500px.org/photo/125967669/m%3D2048/7576ac03564887d91e87b53e63f25b49");
}

.user-info{
	padding-top: 100px; 
	text-align: center;
}

.user-info h1{
	color: #fff;
	font-weight: bold;
}

.jumbotron{
	margin-top: -30px;
}
